branches:
  - name: main
    prerelease: "beta"
    channel: beta
  # A minimum of 1 and a maximum of 3 release branches are required in the branches configuration 
  - name: dummy-release
plugins:
  - - "@semantic-release/commit-analyzer"
    - releaseRules:
        - { type: doc, scope: README, release: patch }
        - { type: fix, release: patch }
        - { type: chore, release: patch }
        - { type: refactor, release: patch }
        - { type: feat, release: patch }
        - { type: ci, release: patch }
        - { type: style, release: patch }
      parserOpts:
        noteKeywords:
          - MAJOR RELEASE
  - "@semantic-release/release-notes-generator"
  - - "@semantic-release/github"
      # From: https://github.com/semantic-release/github/pull/487#issuecomment-1486298997  
    - successComment: false
      failTitle: false 
