apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "incident-commander.fullname" . }}-sa
  labels:
    {{- include "incident-commander.labels" . | nindent 4 }}
  {{- with .Values.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: {{ include "incident-commander.name" . }}-role
rules:
- apiGroups:
  - mission-control.flanksource.com
  resources:
  - connections
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - mission-control.flanksource.com
  resources:
  - connections/finalizers
  verbs:
  - update
- apiGroups:
  - mission-control.flanksource.com
  resources:
  - connections/status
  verbs:
  - get
  - patch
  - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "incident-commander.fullname" . }}-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "incident-commander.name" . }}-role
subjects:
  - kind: ServiceAccount
    name: {{ include "incident-commander.fullname" . }}-sa
    namespace: {{ .Release.Namespace }}
